{% extends "base.html" %}
{% block heady%}
	<script type="text/javascript" src="/static/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="/static/life.js"></script>
{% endblock %}
{% block body%}
<div id="homepage">
	<center><h1>About Me</h1></center>
</div>

	<div id="aboutme">
	
		<center>Describe yourself! Make your own game and put it below!
	<br>
	<a href="http://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway: Game of Life</a></center>
	<table id='main' class='board'></table>
	<center>Click me!</p>
	</div></center>
	
	

{% endblock %}