{% extends "research.html" %}
{% block topics %}
	
	<div id="publication">
		
		<center><div id="authors"><b>- Here's another thing - </b></div></center>
		Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words.<br>
		<br>
		<center style="margin-top:12px;margin-bottom:12px;">
			<img src="/static/img/badboundaries.jpg" style="padding-top:3px;">
		</center>
		Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words.<br>
		<center style="margin-top:12px;margin-bottom:12px;">
			<img src="/static/img/ASFboundaries.jpg" style="padding-top:3px;">
		</center>
		Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words.<br>
		<center style="margin-top:12px;margin-bottom:12px;">
			<img src="/static/img/denoisechart.jpg" style="padding-top:3px;">
		</center>
		Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words.<br>
		
		
	</div>

	<br>
	<br>
	<div id="homepage">
		<center><a href="#">Return to Top</a></center>
	</div>
	<br>
	<br>
{% endblock %}