{% extends "research.html" %}
{% block topics %}
	
	<div id="publication">
		
		<center><div id="authors"><b>- Clustering Cell Shape During Migration - </b></div></center>
		Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words.<br>
		<br>
		<center style="margin-top:12px;margin-bottom:12px;">
			<img src="/static/img/geodesicclustering.jpg" style="padding-top:3px;">
		</center>
		Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words.<br>
		<center style="margin-top:12px;margin-bottom:12px;">
			<img src="/static/img/cellmig.jpg" style="padding-top:3px;">
		</center>
		
	</div>
	
	<br>
	<br>
	<div id="homepage">
		<center><a href="#">Return to Top</a></center>
	</div>
	<br>
	<br>

{% endblock %}