{% extends "base.html" %}
{% block body%}
<div id="homepage">
	<center><h1>Publications</h1></center>
</div>
<div id="publication">
	<b>2013</b><br>
	<a href="link to your publication">Title of the publication</a>
	<br><div id="authors">- credit all authors</div>
	<br>
	
</div>
<div id="homepage">
	<center><h1>Presentations</h1></center>
</div>
<div id="publication">
	<b>2016</b><br>
	<div style="margin-left:12px">Title of your presentation</div>
	<a href="link to the event">where you presented</a>
	<br><br>
	
</div>
<br>
<br>
<div id="homepage">
	<center><a href="#">Return to Top</a></center>
</div>
<br>
<br>
{% endblock %}