{% extends "research.html" %}
{% block topics %}
	
	<div id="publication">
		
		<center><div id="authors"><b>- Introduction - </b></div></center>
		Talk about your research!<br>
		<center style="margin-top:12px;margin-bottom:12px;">
			<img src="/static/img/birds.jpg" style="padding-top:3px;">
		</center>
		<center style="margin-top:6px;margin-bottom:6px;"><b>- Something interesting - </b></center>
		More words here.<br>
		<center style="margin-top:6px;margin-bottom:6px;"><b>- Another interesting thing - </b></center>
		Even more words. Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words. <br>
		<img src="/static/img/circecc.jpg" ALIGN="Right" style="padding-top:12px;padding-bottom:6px;padding-left:12px;">
		Talk about the data. Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words.<br>
		<center style="margin-top:6px;margin-bottom:6px;"><b>- The most interesting thing - </b></center>
		Words about the thing. Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words.
		<img src="/static/img/extrinsic.jpg" ALIGN="Left" style="padding-top:12px;padding-bottom:6px;padding-right:12px;">
		More...<br><br>
		Now people know everything important. Words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words words.
		
	</div>
	
	<br>
	<br>
	<div id="homepage">
		<center><a href="#">Return to Top</a></center>
	</div>
	<br>
	<br>
{% endblock %}